## Instacart Market Basket Analysis

### a. Load the Data:
- Load the CSV files into pandas DataFrames.
- Check for missing values and data types.

In [1]:
import numpy as np
import pandas as pd

df_aisles = pd.read_csv('aisles.csv')
df_departments = pd.read_csv('departments.csv')
df_order_products_prior = pd.read_csv('order_products__prior.csv')
df_order_products_train = pd.read_csv('order_products__train.csv')
df_orders = pd.read_csv('orders.csv')
df_products = pd.read_csv('products.csv')

In [10]:

#test = df_order_products_prior.groupby('order_id').head()
count = 0
product_lists=[]
for user_id, group in df_order_products_prior.groupby('order_id'):
    if count > 10:
            break
    product_lists.append(list(group['product_id']))
    count = count + 1
        
print(product_lists)

[[33120, 28985, 9327, 45918, 30035, 17794, 40141, 1819, 43668], [33754, 24838, 17704, 21903, 17668, 46667, 17461, 32665], [46842, 26434, 39758, 27761, 10054, 21351, 22598, 34862, 40285, 17616, 25146, 32645, 41276], [13176, 15005, 47329, 27966, 23909, 48370, 13245, 9633, 27360, 6348, 40878, 6184, 48002, 20914, 37011, 12962, 45698, 24773, 18569, 41176, 48366, 47209, 46522, 38693, 48825, 8479], [40462, 15873, 41897], [34050, 46802], [23423], [21405, 47890, 11182, 2014, 29193, 34203, 14992, 31506, 23288, 44533, 18362, 27366, 432, 3990, 14183], [24852, 4796, 31717, 47766, 4605, 1529, 21137, 22122, 34134, 27156, 14992, 49235, 26842, 3464, 25720], [30162, 27085, 5994, 1313, 31506], [30597, 15221, 43772, 37886, 37215, 34335, 3164, 26910, 38888, 38050, 25213, 11175, 23390, 29471, 43511]]

 Check for missing values and data types

In [2]:
df_array = [
    df_aisles,
    df_departments,
    df_order_products_prior,
    df_order_products_train,
    df_orders,df_products
]

#Check if there is empty data
print("check empty values")
for df_iterate in df_array:
    print(df_iterate.empty)

#Check the shape
print("print shape")
for df_iterate in df_array:
    print(df_iterate.shape)

#Check the columns
print("print columns")
for df_iterate in df_array:
    print(df_iterate.columns)
    
#Check the first 5 rows
print("print first 5 rows")
for df_iterate in df_array:
    print(df_iterate.head())
    
#Check the last 5 rows
print("print last 5 rows")
for df_iterate in df_array:
    print(df_iterate.tail())
    
#Check the data types
print("print datatypes of columns")
for df_iterate in df_array:
    print(df_iterate.dtypes)
    
#Check info of dataframe
print("print info for dataframe")
for df_iterate in df_array:
    print(df_iterate.info())
    
#Check summary statistics of dataframe
print("print summary")
for df_iterate in df_array:
    print(df_iterate.describe())

#Check Nan values in dataframe
print("print number of NaN")
for df_iterate in df_array:
    print(df_iterate.isna().sum())

#Check null values in dataframe
print("print number of Null")
for df_iterate in df_array:
    print(df_iterate.isnull().sum())

#Check for duplicated rows in dataframe
print("print if there is a duplication")
for df_iterate in df_array:
    print(df_iterate.duplicated())

check empty values
False
False
False
False
False
False
print shape
(134, 2)
(21, 2)
(32434489, 4)
(1384617, 4)
(3421083, 7)
(49688, 4)
print columns
Index(['aisle_id', 'aisle'], dtype='object')
Index(['department_id', 'department'], dtype='object')
Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')
Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')
Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')
Index(['product_id', 'product_name', 'aisle_id', 'department_id'], dtype='object')
print first 5 rows
   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation
   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol
   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13
print last 5 rows
     aisle_id                       aisle
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes
    department_id department
16             17  household
17             18     babies
18             19     snacks
19             20       deli
20             21    missing
          order_id  product_id  add_to_cart_order  reordered
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1
         order_id  product_id  add_to_cart_order  reordered
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1
         order_id  user_id eval_set  order_number  order_dow  \
3421078   2266710   206209    prior            10          5
3421079   1854736   206209    prior            11          4
3421080    626363   206209    prior            12          1
3421081   2977660   206209    prior            13          1
3421082    272231   206209    train            14          6

         order_hour_of_day  days_since_prior_order
3421078                 18                    29.0
3421079                 10                    30.0
3421080                 12                    18.0
3421081                 12                     7.0
3421082                 14                    30.0
       product_id                                product_name  aisle_id  \
49683       49684   Vodka, Triple Distilled, Twist of Vanilla       124
49684       49685          En Croute Roast Hazelnut Cranberry        42
49685       49686                            Artisan Baguette       112
49686       49687  Smartblend Healthy Metabolism Dry Cat Food        41
49687       49688                      Fresh Foaming Cleanser        73

       department_id
49683              5
49684              1
49685              3
49686              8
49687             11
print datatypes of columns
aisle_id     int64
aisle       object
dtype: object
department_id     int64
department       object
dtype: object
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object
order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object
product_id        int64
product_name     object
aisle_id          int64
department_id     int64
dtype: object
print info for dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 464.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384617 entries, 0 to 1384616
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   order_id           1384617 non-null  int64
 1   product_id         1384617 non-null  int64
 2   add_to_cart_order  1384617 non-null  int64
 3   reordered          1384617 non-null  int64
dtypes: int64(4)
memory usage: 42.3 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49688 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
None
print summary
         aisle_id
count  134.000000
mean    67.500000
std     38.826537
min      1.000000
25%     34.250000
50%     67.500000
75%    100.750000
max    134.000000
       department_id
count      21.000000
mean       11.000000
std         6.204837
min         1.000000
25%         6.000000
50%        11.000000
75%        16.000000
max        21.000000
           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00
           order_id    product_id  add_to_cart_order     reordered
count  1.384617e+06  1.384617e+06       1.384617e+06  1.384617e+06
mean   1.706298e+06  2.555624e+04       8.758044e+00  5.985944e-01
std    9.897326e+05  1.412127e+04       7.423936e+00  4.901829e-01
min    1.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.433700e+05  1.338000e+04       3.000000e+00  0.000000e+00
50%    1.701880e+06  2.529800e+04       7.000000e+00  1.000000e+00
75%    2.568023e+06  3.794000e+04       1.200000e+01  1.000000e+00
max    3.421070e+06  4.968800e+04       8.000000e+01  1.000000e+00
           order_id       user_id  order_number     order_dow  \
count  3.421083e+06  3.421083e+06  3.421083e+06  3.421083e+06
mean   1.710542e+06  1.029782e+05  1.715486e+01  2.776219e+00
std    9.875817e+05  5.953372e+04  1.773316e+01  2.046829e+00
min    1.000000e+00  1.000000e+00  1.000000e+00  0.000000e+00
25%    8.552715e+05  5.139400e+04  5.000000e+00  1.000000e+00
50%    1.710542e+06  1.026890e+05  1.100000e+01  3.000000e+00
75%    2.565812e+06  1.543850e+05  2.300000e+01  5.000000e+00
max    3.421083e+06  2.062090e+05  1.000000e+02  6.000000e+00

       order_hour_of_day  days_since_prior_order
count       3.421083e+06            3.214874e+06
mean        1.345202e+01            1.111484e+01
std         4.226088e+00            9.206737e+00
min         0.000000e+00            0.000000e+00
25%         1.000000e+01            4.000000e+00
50%         1.300000e+01            7.000000e+00
75%         1.600000e+01            1.500000e+01
max         2.300000e+01            3.000000e+01
         product_id      aisle_id  department_id
count  49688.000000  49688.000000   49688.000000
mean   24844.500000     67.769582      11.728687
std    14343.834425     38.316162       5.850410
min        1.000000      1.000000       1.000000
25%    12422.750000     35.000000       7.000000
50%    24844.500000     69.000000      13.000000
75%    37266.250000    100.000000      17.000000
max    49688.000000    134.000000      21.000000
print number of NaN
aisle_id    0
aisle       0
dtype: int64
department_id    0
department       0
dtype: int64
order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64
order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64
product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64
print number of Null
aisle_id    0
aisle       0
dtype: int64
department_id    0
department       0
dtype: int64
order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64
order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64
product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64
print if there is a duplication
0      False
1      False
2      False
3      False
4      False
       ...
129    False
130    False
131    False
132    False
133    False
Length: 134, dtype: bool
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
dtype: bool
0           False
1           False
2           False
3           False
4           False
            ...
32434484    False
32434485    False
32434486    False
32434487    False
32434488    False
Length: 32434489, dtype: bool
0          False
1          False
2          False
3          False
4          False
           ...
1384612    False
1384613    False
1384614    False
1384615    False
1384616    False
Length: 1384617, dtype: bool
0          False
1          False
2          False
3          False
4          False
           ...
3421078    False
3421079    False
3421080    False
3421081    False
3421082    False
Length: 3421083, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
49683    False
49684    False
49685    False
49686    False
49687    False
Length: 49688, dtype: bool

### set the empty value in days_since_prior_order to -1 as it is the first order for each user

In [3]:
null_index = df_orders.loc[df_orders['days_since_prior_order'].isnull()].index
print(df_orders.loc[df_orders['days_since_prior_order'].isnull()].index)
df_orders.loc[df_orders['days_since_prior_order'].isnull(),'days_since_prior_order'] = 0
#remove user_id = 0 as all its data are 0
#i = df_orders[(df_orders.user_id == 0)].index
#df_orders.drop(i, inplace = True)

Index([      0,      11,      26,      39,      45,      50,      54,      75,
            79,      83,
       ...
       3420839, 3420863, 3420896, 3420919, 3420925, 3420930, 3420934, 3421002,
       3421019, 3421069],
      dtype='int64', length=206209)

### merge order_products prior and training tables

In [5]:
temp = df_order_products_train.copy()
temp.insert(0, 'istraining', 1)
df_order_products = df_order_products_prior.copy()
df_order_products.insert(0, 'istraining', 0)
frames = [df_order_products, temp]
df_order_products = pd.concat(frames, ignore_index=True)

In [6]:
#convert datatypes
#aisle
df_aisles['aisle_id'] = df_aisles['aisle_id'].astype('int64')
df_aisles['aisle'] = df_aisles['aisle'].astype('str')
#df_departments
df_departments['department_id'] = df_departments['department_id'].astype('int64')
df_departments['department'] = df_departments['department'].astype('str')
#df_products
df_products['product_id'] = df_products['product_id'].astype('int64')
df_products['product_name'] = df_products['product_name'].astype('str')
df_products['aisle_id'] = df_products['aisle_id'].astype('int64')
df_products['department_id'] = df_products['department_id'].astype('int64')
#df_order_products
df_order_products['product_id'] = df_order_products['product_id'].astype('int64')
df_order_products['order_id'] = df_order_products['order_id'].astype('int64')
df_order_products['add_to_cart_order'] = df_order_products['add_to_cart_order'].astype('int64')
df_order_products['reordered'] = df_order_products['reordered'].astype('bool')
df_order_products['istraining'] = df_order_products['istraining'].astype('bool')
#df_orders
df_orders['order_id'] = df_orders['order_id'].astype('int64')
df_orders['user_id'] = df_orders['user_id'].astype('int64')
df_orders['eval_set'] = df_orders['eval_set'].astype('str')
df_orders['order_number'] = df_orders['order_number'].astype('int64')
df_orders['order_dow'] = df_orders['order_dow'].astype('int64')
df_orders['order_hour_of_day'] = df_orders['order_hour_of_day'].astype('int64')
df_orders['days_since_prior_order'] = df_orders['days_since_prior_order'].astype('int64')

### c. Basic Descriptive Statistics:
- Calculate summary statistics for numerical features.
- Examine the distribution of categorical features.

In [8]:
table_names = [
    'aisles_table',
    'departments_table',
    'order_products_table',
    'orders_table',
    'products_table'
]
df_array = [
    df_aisles,
    df_departments,
    df_order_products,
    df_orders,
    df_products
]
i = 0
for df_iterate in df_array:
    print(f"For {table_names[i]} summary statistics for numerical features:")
    i += 1
    print(df_iterate.describe())

For aisles_table summary statistics for numerical features:
         aisle_id
count  134.000000
mean    67.500000
std     38.826537
min      1.000000
25%     34.250000
50%     67.500000
75%    100.750000
max    134.000000
For departments_table summary statistics for numerical features:
       department_id
count      21.000000
mean       11.000000
std         6.204837
min         1.000000
25%         6.000000
50%        11.000000
75%        16.000000
max        21.000000
For order_products_table summary statistics for numerical features:
           order_id    product_id  add_to_cart_order
count  3.381911e+07  3.381911e+07       3.381911e+07
mean   1.710566e+06  2.557551e+04       8.367738e+00
std    9.874008e+05  1.409770e+04       7.139540e+00
min    1.000000e+00  1.000000e+00       1.000000e+00
25%    8.554130e+05  1.351900e+04       3.000000e+00
50%    1.710660e+06  2.525600e+04       6.000000e+00
75%    2.565587e+06  3.793500e+04       1.100000e+01
max    3.421083e+06  4.968800e+04       1.450000e+02
For orders_table summary statistics for numerical features:
           order_id       user_id  order_number     order_dow  \
count  3.421083e+06  3.421083e+06  3.421083e+06  3.421083e+06
mean   1.710542e+06  1.029782e+05  1.715486e+01  2.776219e+00
std    9.875817e+05  5.953372e+04  1.773316e+01  2.046829e+00
min    1.000000e+00  1.000000e+00  1.000000e+00  0.000000e+00
25%    8.552715e+05  5.139400e+04  5.000000e+00  1.000000e+00
50%    1.710542e+06  1.026890e+05  1.100000e+01  3.000000e+00
75%    2.565812e+06  1.543850e+05  2.300000e+01  5.000000e+00
max    3.421083e+06  2.062090e+05  1.000000e+02  6.000000e+00

       order_hour_of_day  days_since_prior_order
count       3.421083e+06            3.421083e+06
mean        1.345202e+01            1.345202e+01
std         4.226088e+00            4.226088e+00
min         0.000000e+00            0.000000e+00
25%         1.000000e+01            1.000000e+01
50%         1.300000e+01            1.300000e+01
75%         1.600000e+01            1.600000e+01
max         2.300000e+01            2.300000e+01
For products_table summary statistics for numerical features:
         product_id      aisle_id  department_id
count  49688.000000  49688.000000   49688.000000
mean   24844.500000     67.769582      11.728687
std    14343.834425     38.316162       5.850410
min        1.000000      1.000000       1.000000
25%    12422.750000     35.000000       7.000000
50%    24844.500000     69.000000      13.000000
75%    37266.250000    100.000000      17.000000
max    49688.000000    134.000000      21.000000

- Examine the distribution of categorical features.

In [9]:
##For table order_products
#How many times a product is ordered
df_order_products.groupby('product_id').agg({'order_id':'count'})

#How many times the product is added first in cart
df_order_products[df_order_products.add_to_cart_order == 1].groupby('product_id').agg({
    'add_to_cart_order':'count'
})

##For table products
#How many category(aisle_id) for each department
df_products.groupby('department_id').agg({'aisle_id':'count'})

#How many product in each category(aisle_id)
df_products.groupby('aisle_id').agg({'product_id':'count'})

          product_id
aisle_id
1                146
2                271
3                832
4                543
5                409
...              ...
130              303
131              457
132              178
133              172
134               95

[134 rows x 1 columns]

In [ ]:
##ChatGPT code
import pandas as pd
from datetime import timedelta

# Assuming df_orders is already defined

# Convert the 'order_dow' to a timedelta relative to '01/06/2018' for first orders
df_orders['date_of_order'] = pd.to_datetime('01/06/2018') + pd.to_timedelta(df_orders['order_dow'], unit='D')

# Calculate the cumulative sum of 'days_since_prior_order' for each user
df_orders['cumulative_days'] = df_orders.groupby('user_id')['days_since_prior_order'].cumsum()

# Adjust the date for subsequent orders
df_orders['date_of_order'] = df_orders['date_of_order'] + pd.to_timedelta(df_orders['cumulative_days'].fillna(0), unit='D')

# Drop the temporary 'cumulative_days' column if it's no longer needed
df_orders.drop(columns=['cumulative_days'], inplace=True)